{% extends "layout.html" %}
{% block title %} Index {% endblock %}

{% block main %}

<form action="/admin_orders" method="post" id="forma1">
<button type="submit" class="btn btn-danger" name="delete" value=1>Delete Obsolete Orders</button>
</form>
{% for days in day %}
<form action="/admin_orders" method="post" id="forma2">
    <div id="basket">
    <div class="row">
            <div class="col-25">

                <div class="container">
                    <h4>{{days.name}}: {{loop.index}} on the {{days.coll_day}}
                    <!-- all going to be used to delete all rows according to selected date and user_id -->
                    <!-- date -->
                    <input type="hidden" name="date" value="{{days.coll_day}}">
                    <!-- user_id -->
                    <input type="hidden" name="date" value="{{days.user_id}}">
                    </h4>
                    {% for item in items%}
                        {% if item.coll_day == days.coll_day and item.user_id == days.user_id %}
                        <p>{{item.number}} x {{item.item_name}} <span class="price">{{item.total_price | pound}}</span></p>
                        {% endif %}
                    {% endfor %}
                    <hr>
                    <p>Total <span class="price" style="color:black"><b>{{days.totalp_day | pound}}</b></span></p>
                    <hr>
                    {% for note in notes %}
                        {% if note.coll_day == days.coll_day and note.user_id == days.user_id and note.notes %}
                        <p>{{note.notes}}</p>
                        {% endif %}
                    {% endfor %}
                <button type="submit" class="btn btn-danger">Delete Selected Order</button>
                </div>
        </div>
    </div>
</div>
</form>
{% endfor %}

{% endblock %}