{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}

<div class="height">
    <form action="/passw" method="post" onSubmit = "return checkPassword(this)" class="needs-validation" novalidate>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="old_pw" placeholder="Old Password" type="password" id="validationCustom01" required>
    </div>
    <div class="form-group">
        <input class="form-control" name="password1" placeholder="Password" type="password" id="validationCustom02" required>
    </div>
    <div class="form-group">
        <input class="form-control" name="password2" placeholder="Confirm Password" type="password" id="validationCustom03" required>
    </div>
    <button class="btn btn-primary" type="submit">Change</button>
</form>
</div>

<script>
// Script imported from bootstrap validation page
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

//https://www.geeksforgeeks.org/password-matching-using-javascript/
// Function to check Whether both passwords
// is same or not.
function checkPassword(form) {
    old_password = form.old_pw.value;
    password1 = form.password1.value;
    password2 = form.password2.value;

    // If Not same return False.
    if (password1 != password2) {
        alert ("\nPassword did not match!")
        return false;
    }

    // If same return True.
    else{
        return true;
    }
}
</script>
{% endblock %}