{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="height">
<form action="/register" method="post" id = register_form onSubmit = "return checkPassword(this)" class="needs-validation" novalidate>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" id="validationCustom01" required>
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password" id="validationCustom02" required>
    </div>
    <div class="form-group">
        <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password" id="validationCustom03" required>
    </div>
    <button class="btn btn-primary" type="submit" id="button">Register</button>
</form>
</div>
<script>
// Script imported from bootstrap validation page
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

//https://www.geeksforgeeks.org/password-matching-using-javascript/
// Function to check Whether both passwords
// is same or not.
function checkPassword(form) {
    password1 = form.password.value;
    password2 = form.confirmation.value;

    // If Not same return False.
    if (password1 != password2) {
        alert ("\nPassword did not match!")
        return false;
    }

    // If same return True.
    else{
        return true;
    }
}

// this was much harder to code, javascript and ajax were not explored well enough...
document.getElementById('register_form').addEventListener('submit', function(evt){
    evt.preventDefault();
    let username = document.getElementById("validationCustom01").value
    $.get('/check?username=' + username, function(check){
        if (check == true) {
            document.getElementById("register_form").submit();
        }
        else {
            alert('Username already exists');
            //resets the whole form after the alert
            document.getElementById("register_form").reset();
        }
    });
});
</script>

{% endblock %}